<h2 class="headline">Guest list</h2>
<button class="more-guests-button" ng-click="invite()">Invite another guest</button>
<div class="guest-list">
  <div class="guest-list-item" ng-repeat="guest in guests | orderBy:'last'">
    <!-- <button class="crud-button" ng-click="delete(guest)">delete</button>
    <button class="crud-button" ng-click="update(guest)">update</button> -->
    <span class="item-text">
      {{ $index + 1 }}. <b>{{ guest.first }} {{ guest.last }}</b>
    </span>
  </div>
</div>
